<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{{ SITENAME }}{%endblock%}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8" />
<link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
{% if FEED_RSS %}
<link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}
</head>

<body>

{% include 'nav.html' %}
{% include 'header.html' %}

<div class="main-content">
    {% block content %}
    {% endblock %}
</div>

{% include 'analytics.html' %}
<script src="https://use.fonticons.com/ec753b77.js" defer></script>
<script>
    /* First CSS File */
    var link = document.createElement('link'); 
    link.rel = 'stylesheet';
    link.href = '{{ SITEURL }}/theme/css/{{ CSS_FILE}}';
    link.type = 'text/css'; 
    var godefer = document.getElementsByTagName('link')[0]; 
    godefer.parentNode.insertBefore(link, godefer);
</script>
</body>
</html>
