<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
    {% if FEED_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    <link href="{{ SITEURL }}/theme/css/{{ CSS_FILE}}" type="text/css" rel="stylesheet" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦄</text></svg>">
</head>

<body>

{% include 'nav.html' %}
{% include 'header.html' %}

<div class="main-content">
    {% block content %}
    {% endblock %}
</div>

{% include 'footer.html' %}
{% include 'analytics.html' %}
<script src="https://use.fontawesome.com/d6b00eaa2c.js" async></script>
</body>
</html>
