// Typography
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Raleway');

$sans-serif: 'Raleway', sans-serif;
$mono: 'Anonymous Pro', monospace;

// Colors
$white: #fff;
$color-primary-0: #582A72; //dark-purple 
$color-primary-1: #A501FF; //bright-purple
$color-primary-2: #720CAA; //medium-purple
$color-primary-3: #322639; //grey-purple
$color-primary-4: #000000; //black

// Responsive
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 2000px;

@mixin respond($minWidth) {
    @media only screen and (min-width: $minWidth) {
	@content;
    }
}

@keyframes wobble {
    16.65% {
	transform: translateY(8px);
    }
    33.3% {
	transform: translateY(-6px);
    }
    49.95% {
	transform: translateY(4px);
    }
    66.6% {
	transform: translateY(-2px);
    }
    83.25% {
	transform: translateY(1px);
    }
    100% {
	transform: translateY(0);
    }
}
