@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primary-text-color: #333;
$secondary-text-color: #c0c0c0;
$tertiary-text-color: #555;
$pre-color: #fafafa;
$link-color: #303030;
$link-hover-color: #999;
$white: #fff;
$black: #333;
